/*-------------------------------------------------------*/
/*--------------------EXAMPLE----------------------------*/
/*-------------------------------------------------------*/
/*ELEMENT's*/
/*example {}*/

/*CLASS's*/
/*.example {}*/

/*ID's*/
/*#example {}*/
/*-------------------------------------------------------*/
/*-------------------------------------------------------*/
/*-------------------------------------------------------*/

body {background-color:white; width:auto; height:auto; margin:auto;
	font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 13px; }

/* NEW 9/18/13 */
#navbar {
	margin: 0;
	padding: 0;
}
#navbar > li {
	display: inline;
	padding: 0 10px 0 10px;
}

#header,
#content,
#footer {
	width:1280px; 
	height:720px;
	border: 1px solid black;
	margin: 10px auto 10px auto;
}

#header {
	height: 92px;
}
	#banner img {
		width: 100%;
		height: 70px;
	}
#content {
	margin: 25px auto 25px auto;
}
	#menus > div,
	#background,
	#foreground,
	#hud {
		display: none;
		position: absolute;
	}
	#main_menu ul {
		padding: 0;
	}
	#main_menu li {
		border: 2px solid black;
		border-radius: 5px;
		font-size: 24px;
		font-weight: bold;
		line-height: 100px;
		list-style-type: none;
		margin: 50px auto;
		text-align: center;

		width: 300px;
		height: 100px;
	}
	#sp_lvl_select ul {
		padding: 0;
	}
	#sp_lvl_select li {
		border: 2px solid black;
		border-radius: 5px;
		display: inline-block;
		font-size: 24px;
		font-weight: bold;
		line-height: 125px;
		list-style-type: none;
		margin: 50px 0 0 50px;
		text-align: center;

		width: 125px;
		height: 125px;
	}
	#background {
	}
	#foreground {
	}
	#hud {
	}
#footer {
	height: 20px;
}



